@font-face {
  font-family: 'Viga'; /*a name to be used later*/
  src: url(./assets/fonts/Viga-Regular.ttf); /*URL to font*/
}

body {
  background-color: #17252A;
  color: white;
}
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: black;
  border-color: #1861ac;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Viga, Roboto, "Helvetica Neue", sans-serif;
}

mat-dialog-container {
  background-color: #17252A !important;
  border: 3px solid white;
}

.side-panel {
  background-color: #17252A !important;

  .mat-dialog-container {
    transform: none;
    position: absolute;
    top: 0;
    right: 0;
  } 
}

.panel-header {
  background-color: #D41383;
  padding: 16px;
  border-radius: 8px;
}

.animate__slideInRight {
    right: 0;
    height: 100%;
    position: absolute !important;

}

.player-selected {
  opacity: 0.3;
  cursor: not-allowed;
}

.mat-table {
  background: #17252A;
  border-radius: 6px;

  .mat-header-row {
      border-radius: 6px;
  }

  .mat-row {
    .mat-cell {
      font-size: small;
    }
  }
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
  font-size: smaller;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
  color: #D41383;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #D41383;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: #D41383;
}
