<div class="draft" *ngIf="draft && fplBase">
  <draft-header-component *ngIf="isLatop || draft.status_id != 4" [draft]="draft"></draft-header-component>

  <draft-selecting-component *ngIf="draft.status_id == 4 && fplBase" [draft]="draft" [fplBase]="fplBase"></draft-selecting-component>
  <div *ngIf="draft.status_id == 7 || draft.status_id == 8 || draft.status_id == 9" class="basic-content">
    <div *ngIf="draft.status_id == 7">Awaiting sealed bids</div>
    <div *ngIf="draft.status_id == 8">Checking bids</div>
    <div *ngIf="draft.status_id == 9">Bids received</div>
    <div *ngIf="draft.status_id == 10">Final chance</div>
    <mat-progress-bar class="basic-progress-bar" mode="indeterminate"></mat-progress-bar>
  </div>
</div>
