<h1>KPL DRAFT OVERVIEW</h1>
<h2>SOME INFO</h2>
<div class="overview-container">
  <div class="options-container">
    <div class="option-container">
      <span class="material-icons">chat</span>
      <h4>INTRO</h4>
      <span class="option-container-text">Lorem ipsum text placeholder etc etc etc sjoisdj sdjiodasj dsajoidasj</span>
      <button mat-stroked-button color="primary">VIEW</button>
    </div>
    <div class="option-container">
      <span class="material-icons">ondemand_video</span>
      <h4>DRAW</h4>
      <span class="option-container-text">Lorem ipsum text placeholder etc etc etc sjoisdj sdjiodasj dsajoidasj</span>
      <button mat-stroked-button color="primary">VIEW</button>
    </div>
    <div class="option-container">
      <span class="material-icons">more_time</span>
      <h4>DRAFT</h4>
      <span class="option-container-text">Lorem ipsum text placeholder etc etc etc sjoisdj sdjiodasj dsajoidasj</span>
      <button mat-stroked-button color="primary">DRAFT</button>
      <button mat-stroked-button color="primary">TERMINAL</button>
    </div>
    <div class="option-container">
      <span class="material-icons">ondemand_video</span>
      <h4>REVIEW</h4>
      <span class="option-container-text">Lorem ipsum text placeholder etc etc etc sjoisdj sdjiodasj dsajoidasj</span>
      <button mat-stroked-button color="primary">VIEW</button>
    </div>
  </div>
</div>
