.round-pick {
  display: flex;
  flex-direction: row;
  align-items: center;

  .round-pick-badge {
    margin: 2px;
    width: 200px;
    border: 2px solid #D41383;

    &.current-manager {
      border: solid 6px #D41383;
      width: 240px;
    }
  }

  .status-desc {
    margin-left: 4px;
  }
}

.has-picked {
  opacity: 0.5;
}
