.next-manager-container {
  display: flex;
  text-align: center;
  flex-direction: column;



  .nomination-player-container {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-bottom: 16px;
    margin-top: 16px;

    .nomination-badge-image {
      flex-grow: 0;
      height: 200px;
      width: 200px;
      border: 6px solid #D41383;
      border-radius: 50%;
      padding: 6px;
      background-color: #17252A;
    }
  }
}
