<ul class="squad-list">
  <li><terminal-player [player]="draftSquad.gk_1?.player" [cost]="draftSquad.gk_1?.signed_price" [position]="'GK'" [@fadeInOut]></terminal-player></li>
  <li><terminal-player [player]="draftSquad.gk_2?.player" [cost]="draftSquad.gk_2?.signed_price" [position]="'GK'" [@fadeInOut]></terminal-player></li>
  <li><terminal-player [player]="draftSquad.def_1?.player" [cost]="draftSquad.def_1?.signed_price" [position]="'DEF'" [@fadeInOut]></terminal-player></li>
  <li><terminal-player [player]="draftSquad.def_2?.player" [cost]="draftSquad.def_2?.signed_price" [position]="'DEF'" [@fadeInOut]></terminal-player></li>
  <li><terminal-player [player]="draftSquad.def_3?.player" [cost]="draftSquad.def_3?.signed_price" [position]="'DEF'" [@fadeInOut]></terminal-player></li>
  <li><terminal-player [player]="draftSquad.def_4?.player" [cost]="draftSquad.def_4?.signed_price" [position]="'DEF'" [@fadeInOut]></terminal-player></li>
  <li><terminal-player [player]="draftSquad.def_5?.player" [cost]="draftSquad.def_5?.signed_price" [position]="'DEF'" [@fadeInOut]></terminal-player></li>
  <li><terminal-player [player]="draftSquad.mid_1?.player" [cost]="draftSquad.mid_1?.signed_price" [position]="'MID'" [@fadeInOut]></terminal-player></li>
  <li><terminal-player [player]="draftSquad.mid_2?.player" [cost]="draftSquad.mid_2?.signed_price" [position]="'MID'" [@fadeInOut]></terminal-player></li>
  <li><terminal-player [player]="draftSquad.mid_3?.player" [cost]="draftSquad.mid_3?.signed_price" [position]="'MID'" [@fadeInOut]></terminal-player></li>
  <li><terminal-player [player]="draftSquad.mid_4?.player" [cost]="draftSquad.mid_4?.signed_price" [position]="'MID'" [@fadeInOut]></terminal-player></li>
  <li><terminal-player [player]="draftSquad.mid_5?.player" [cost]="draftSquad.mid_5?.signed_price" [position]="'MID'" [@fadeInOut]></terminal-player></li>
  <li><terminal-player [player]="draftSquad.fw_1?.player" [cost]="draftSquad.fw_1?.signed_price" [position]="'FW'" [@fadeInOut]></terminal-player></li>
  <li><terminal-player [player]="draftSquad.fw_2?.player" [cost]="draftSquad.fw_2?.signed_price" [position]="'FW'" [@fadeInOut]></terminal-player></li>
  <li><terminal-player [player]="draftSquad.fw_3?.player" [cost]="draftSquad.fw_3?.signed_price" [position]="'FW'" [@fadeInOut]></terminal-player></li>
</ul>
