
$total-items: 15;

.squad-list {
  padding-inline-start: 8px;
  flex-grow: 1;

  li {
    display: block;
    animation: fadeIn 0.5s linear;
    animation-fill-mode: both;
  }

  @for $i from 1 through $total-items {
    li:nth-child(#{$i}) {
      animation-delay: .1s * $i;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
      top: 100px;
    }

    75% {
      opacity: 0.5;
      top: 0px;
    }

    100% {
      opacity: 1;
    }
  }
}

.close-button {
    width: 100%;
}
