.nomination-container {
  display: flex;
  flex-direction: column;

  .nomination-container-header {
    text-align: center;
    margin-bottom: 32px;
  }

  .nomination-player-container {
    display: flex;
    flex-direction: row;

    .nomination-player-info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-self: center;
      margin-right: 32px;

      .player-info-line {
        display: flex;
        align-content: center;
        height: 32px;
      }
    }

    .nomination-player-image {
      flex-grow: 0;
      height: 200px;
      width: 200px;
      border: 6px solid #c2185b;
      border-radius: 50%;
      background-color: #17252A;
      padding: 6px;
    }
  }

  .nomination-container-footer {
    text-align: center;
    margin-top: 32px;
    display: flex;
    width: 100%;
    font-size: x-large;
    background-color: deepskyblue;
    justify-content: center;

    mat-spinner {
      margin-left: 16px;

      ::ng-deep circle, .mat-spinner circle {
        stroke: white !important;
      }
    }
  }
}
