<div class="terminal-container" *ngIf="draft && squadTicker">
  <div class="terminal-top">

    <div class="terminal-left-sidebar">

      <div class="terminal-date-time">
        <h2>{{draft.draft_name}}</h2>
      </div>

      <mat-divider></mat-divider>

      <div class="round-info">
        <div class="round-number">Round {{draft.draft_round}}</div>
        <div class="round-picks" *ngIf="picksTicker">
          <div *ngFor="let roundManager of picksTicker" class="round-pick" [ngClass]="{'no-pick': roundManager.has_picked_this_round || (!roundManager.has_picked_this_round) && (draft.direction ? roundManager.draft_seed > draft.draft_manager.draft_seed : roundManager.draft_seed < draft.draft_manager.draft_seed), 'current-pick': roundManager.id == draft.draft_manager.id}">
            <img class="round-pick-badge" src="{{roundManager.team_image_url}}" />
            <div class="round-pick-name">{{roundManager.team_name}}</div>
            <span *ngIf="roundManager.has_picked_this_round" class="status-desc status-icon material-icons">done</span>
            <span *ngIf="(!roundManager.has_picked_this_round) && (draft.direction ? roundManager.draft_seed > draft.draft_manager.draft_seed : roundManager.draft_seed < draft.draft_manager.draft_seed)" class="status-desc status-icon material-icons">block</span>
            <span *ngIf="roundManager.id == draft.draft_manager.id" class="status-desc status-icon material-icons arrow fill-pink">arrow_downward</span>
            <!--<span *ngIf="roundManager.id == draft.draft_manager.id" class="status-desc status-icon material-icons arrow fill-pink">{{draft.direction ? 'arrow_upward' : 'arrow_downward'}}</span>-->
          </div>
        </div>
      </div>

    </div>

    <div class="terminal-top-main">
      <div class="terminal-main-content">


        <div *ngIf="draft.status_id >= 2" class="terminal-update">
          <div class="terminal-update-header">
            <img class="terminal-update-image" src="{{draft.draft_manager.team_image_url}}" />
            <div class="terminal-update-heading">
              <div>{{draft.draft_manager.team_name}}</div>
              <div>{{draft.draft_manager.name}}</div>
            </div>
          </div>

          <!-- never be shown... -->
          <!-- todo: probably need to move this... -->
          <!--<ul *ngIf="draft.draft_manager.draft_squad && draft.status_id == 99">
      <li><terminal-player [player]="draft.draft_manager.draft_squad.gk_1" [position]="'GK'" [@fadeInOut]></terminal-player></li>
      <li><terminal-player [player]="draft.draft_manager.draft_squad.gk_2" [position]="'GK'" [@fadeInOut]></terminal-player></li>
      <li><terminal-player [player]="draft.draft_manager.draft_squad.def_1" [position]="'DEF'" [@fadeInOut]></terminal-player></li>
      <li><terminal-player [player]="draft.draft_manager.draft_squad.def_2" [position]="'DEF'" [@fadeInOut]></terminal-player></li>
      <li><terminal-player [player]="draft.draft_manager.draft_squad.def_3" [position]="'DEF'" [@fadeInOut]></terminal-player></li>
      <li><terminal-player [player]="draft.draft_manager.draft_squad.def_4" [position]="'DEF'" [@fadeInOut]></terminal-player></li>
      <li><terminal-player [player]="draft.draft_manager.draft_squad.def_5" [position]="'DEF'" [@fadeInOut]></terminal-player></li>
      <li><terminal-player [player]="draft.draft_manager.draft_squad.mid_1" [position]="'MID'" [@fadeInOut]></terminal-player></li>
      <li><terminal-player [player]="draft.draft_manager.draft_squad.mid_2" [position]="'MID'" [@fadeInOut]></terminal-player></li>
      <li><terminal-player [player]="draft.draft_manager.draft_squad.mid_3" [position]="'MID'" [@fadeInOut]></terminal-player></li>
      <li><terminal-player [player]="draft.draft_manager.draft_squad.mid_4" [position]="'MID'" [@fadeInOut]></terminal-player></li>
      <li><terminal-player [player]="draft.draft_manager.draft_squad.mid_5" [position]="'MID'" [@fadeInOut]></terminal-player></li>
      <li><terminal-player [player]="draft.draft_manager.draft_squad.fw_1" [position]="'FW'" [@fadeInOut]></terminal-player></li>
      <li><terminal-player [player]="draft.draft_manager.draft_squad.fw_2" [position]="'FW'" [@fadeInOut]></terminal-player></li>
      <li><terminal-player [player]="draft.draft_manager.draft_squad.fw_3" [position]="'FW'" [@fadeInOut]></terminal-player></li>
    </ul>-->
        </div>

        <mat-divider *ngIf="draft.status_id >= 4" [vertical]="true" class="terminal-link"></mat-divider>

        <div class="terminal-update" *ngIf="draft.status_id >= 4">
          <div class="terminal-update-header">
            <div class="terminal-timer">
              <mat-progress-spinner class="spinner" color="primary" [diameter]="80" [value]="draft.status_id == 4 ? (timer/30)*100 : 100"></mat-progress-spinner>
              <div *ngIf="draft.status_id == 4" class="timer-text">{{timer}}</div>
              <span *ngIf="draft.status_id > 4 && draft.status_id != 6" class="status-desc status-icon material-icons timer-text">done</span>
              <span *ngIf="draft.status_id == 6" class="status-desc status-icon material-icons timer-text">timer</span>
            </div>
            <div class="terminal-update-heading">
              <div>{{draft.status_id == 4 ? 'Now nominating...' : draft.status_id == 6 ? 'Timeout' : 'Nomination successful'}}</div>
            </div>
          </div>
        </div>

        <mat-divider *ngIf="draft.status_id >= 7" [vertical]="true" class="terminal-link"></mat-divider>

        <div class="terminal-update" *ngIf="draft.status_id >= 7 && currentPick">
          <div class="terminal-update-header">
            <img class="terminal-update-image" src="{{currentPick.player.photo_url}}" />
            <div class="terminal-update-heading">
              <div>{{draft.draft_manager.team_name}} nominate {{currentPick.player.first_name}} {{currentPick.player.web_name}} of {{currentPick.player.club.name}} ({{currentPick.player.position.singular_name_short}})</div>
              <div>Value: £{{currentPick.player.now_cost / 10}}m</div>
            </div>
          </div>
        </div>

        <mat-divider *ngIf="draft.status_id == 7" [vertical]="true" class="terminal-link"></mat-divider>

        <div class="terminal-update" *ngIf="draft.status_id == 7">
          <div class="terminal-update-header">
            <div class="terminal-timer">
              <mat-progress-spinner class="spinner" color="primary" [diameter]="80" [value]="draft.status_id == 7 ? (timer/10)*100 : 100"></mat-progress-spinner>
              <div class="timer-text">{{timer}}</div>
            </div>
            <div class="terminal-update-heading">
              <div>Place your sealed bids now!</div>
            </div>
          </div>
        </div>

        <mat-divider *ngIf="draft.status_id == 8" [vertical]="true" class="terminal-link"></mat-divider>

        <div class="terminal-update" *ngIf="draft.status_id == 8">
          <div class="terminal-update-header">
            <div class="terminal-timer">
              <mat-spinner class="spinner" color="primary" [diameter]="80"></mat-spinner>
              <span class="status-desc status-icon material-icons timer-text">savings</span>
            </div>
            <div class="terminal-update-heading">
              <div>Your independent adjudicator is now checking and entering any bids...</div>
            </div>
          </div>
        </div>

        <mat-divider *ngIf="draft.status_id >= 9 && draft.status_id < 11" [vertical]="true" class="terminal-link"></mat-divider>

        <div class="terminal-update" *ngIf="draft.status_id >= 9 && draft.status_id < 11">
          <div class="terminal-update-header">
            <div class="terminal-update-image">
              <div class="span-container">
                <span class="status-desc status-icon material-icons">attach_money</span>
              </div>
            </div>
            <div class="terminal-update-heading">
              <div>BIDS RECEIVED!</div>
              <div class="bids-container">
                <div [ngClass]="{'max-bid': bid.is_max_bid}" class="bid" *ngFor="let bid of currentPick.sealed_bids">{{bid.draft_manager_name}}: £{{bid.bid_amount}}m <span *ngIf="bid.is_max_bid" class="status-desc status-icon material-icons timer-text">done</span></div>
              </div>
            </div>
          </div>
        </div>

        <mat-divider *ngIf="draft.status_id >= 10 && draft.status_id < 11" [vertical]="true" class="terminal-link"></mat-divider>

        <div class="terminal-update" *ngIf="draft.status_id >= 10 && draft.status_id < 11">
          <div class="terminal-update-header">
            <div class="terminal-timer">
              <mat-spinner class="spinner" color="primary" [diameter]="80"></mat-spinner>
              <span class="status-desc status-icon material-icons timer-text">warning_amber</span>
            </div>
            <div class="terminal-update-heading">
              <div>FINAL CHANCE!</div>
              <div>{{draft.draft_manager.team_name}} have final refusal on {{currentPick.player.first_name}} {{currentPick.player.web_name}} for £{{getMaxBidAmount(currentPick)}}m</div>
            </div>
          </div>
        </div>

        <mat-divider *ngIf="draft.status_id == 11" [vertical]="true" class="terminal-link"></mat-divider>

        <div *ngIf="draft.status_id == 11" class="terminal-update">
          <div class="terminal-update-header">
            <img class="terminal-update-image" src="{{signingManager.team_image_url}}" />
            <div class="terminal-update-heading">
              <div>{{signingManager.team_name}} sign {{currentPick.player.first_name}} {{currentPick.player.web_name}} for £{{currentPick.signed_price}}m <span class="status-desc status-icon material-icons" style="vertical-align: middle; margin-left: 8px; color: green;">done</span></div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="terminal-right-sidebar">
      <div class="terminal-right-header">
        Teams
      </div>
      <mat-divider class="terminal-divider"></mat-divider>
      <div class="terminal-team-header" [ngClass]="{'hidden': !displaySquadTicker}" *ngIf="squadTicker">
        <img class="terminal-team-image" src="{{squadTicker.ticker_manager.team_image_url}}" />
        <div class="terminal-team-info">
          <div class="terminal-team-name">{{squadTicker.ticker_manager.team_name}}</div>
          <div class="terminal-manager-name">{{squadTicker.ticker_manager.name}}</div>
        </div>
      </div>
      <mat-divider class="terminal-divider"></mat-divider>
      <ul class="terminal-team-players" [ngClass]="{'hidden': !displaySquadTicker}" *ngIf="squadTicker">
        <li><terminal-player [player]="squadTicker.ticker_squad.gk_1" [position]="'GK'" [@fadeInOut]></terminal-player></li>
        <li><terminal-player [player]="squadTicker.ticker_squad.gk_2" [position]="'GK'" [@fadeInOut]></terminal-player></li>
        <li><terminal-player [player]="squadTicker.ticker_squad.def_1" [position]="'DEF'" [@fadeInOut]></terminal-player></li>
        <li><terminal-player [player]="squadTicker.ticker_squad.def_2" [position]="'DEF'" [@fadeInOut]></terminal-player></li>
        <li><terminal-player [player]="squadTicker.ticker_squad.def_3" [position]="'DEF'" [@fadeInOut]></terminal-player></li>
        <li><terminal-player [player]="squadTicker.ticker_squad.def_4" [position]="'DEF'" [@fadeInOut]></terminal-player></li>
        <li><terminal-player [player]="squadTicker.ticker_squad.def_5" [position]="'DEF'" [@fadeInOut]></terminal-player></li>
        <li><terminal-player [player]="squadTicker.ticker_squad.mid_1" [position]="'MID'" [@fadeInOut]></terminal-player></li>
        <li><terminal-player [player]="squadTicker.ticker_squad.mid_2" [position]="'MID'" [@fadeInOut]></terminal-player></li>
        <li><terminal-player [player]="squadTicker.ticker_squad.mid_3" [position]="'MID'" [@fadeInOut]></terminal-player></li>
        <li><terminal-player [player]="squadTicker.ticker_squad.mid_4" [position]="'MID'" [@fadeInOut]></terminal-player></li>
        <li><terminal-player [player]="squadTicker.ticker_squad.mid_5" [position]="'MID'" [@fadeInOut]></terminal-player></li>
        <li><terminal-player [player]="squadTicker.ticker_squad.fw_1" [position]="'FW'" [@fadeInOut]></terminal-player></li>
        <li><terminal-player [player]="squadTicker.ticker_squad.fw_2" [position]="'FW'" [@fadeInOut]></terminal-player></li>
        <li><terminal-player [player]="squadTicker.ticker_squad.fw_3" [position]="'FW'" [@fadeInOut]></terminal-player></li>
      </ul>
    </div>

  </div>

  <div class="terminal-bottom">
    <div id="news_ticker">
      <img class="terminal-logo" src="../../assets/draft_tv.png" />
      <span>Latest News</span>
      <ul>
        <li *ngFor="let tickerItem of tickerItems"><a href="#">{{tickerItem}}</a></li>
      </ul>
    </div>
  </div>

</div>
