$total-items: 15;

.hidden {
  display: none;
}

.terminal-container {
  background: #17252A;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-color: white;
  border-style: solid;
  display: flex;
  flex-direction: column;

  .round-number {
    text-align: center;
    font-size: x-large;
    border-bottom: 3px solid #c2185b;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .terminal-top {
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    .terminal-left-sidebar {
      display: flex;
      flex-direction: column;
      min-width: 300px;
      margin: 32px;
      margin-bottom: 0px;

      .round-info {
        display: flex;
        flex-direction: column;

        .round-picks {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
        }
      }
    }

    .terminal-top-main {
      flex-grow: 1;
      margin: 32px;
      display: flex;
      align-items: flex-start;

      .terminal-main-content {
        display: flex;

        .terminal-update {
          display: flex;
          align-self: start;

          &.vertical {
              flex-direction: column;
          }
        }
      }

      /*.breaking-news {
        background: yellow;
        height: 100%;
        width: 100%;
        text-align: center;
        justify-content: center;
        color: black;
        font-size: 120px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        font-weight: bolder;

        .breaking-bar {
          color: black;
          background-color: black;
        }
      }*/
    }

    .terminal-right-sidebar {
      display: flex;
      flex-direction: column;
      min-width: 420px;
      margin: 32px;
      padding: 32px;
      border: 6px solid #c2185b;
    }
  }
}

.fill-pink {
  color: #c2185b;
}

.terminal-update-header {
  display: flex;
  align-items: center;

  .terminal-update-image {
    border: 5px solid #c2185b;
    padding: 2px;

    .span-container {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;

      span {
        width: 100%;
        text-align: center;
      }
    }
  }

  .terminal-timer {
    margin-right: 16px;
    justify-content: center;
    align-self: center;
    display: flex;
    align-items: center;

    .spinner {
      position: relative;
    }

    .timer-text {
      position: absolute;
      text-align: center;
    }
  }
}

.terminal-link {
  height: 24px;
  width: 42px;
  border-right: 5px solid #c2185b !important;
}

.terminal-link-horizontal {
  width: 60px;
  border-top: 5px solid #c2185b !important;
  align-self: center;
}
