@import "../../terminal.component.scss";

.nomination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;

  .nomination-item {
    border: 5px solid #c2185b;
    padding: 4px;
    display: flex;
    flex-direction: column;
    width: 100%;

    &.horizontal {
      flex-direction: row;
    }

    &.player {
      position: relative;
      margin-top: 25%;
      border-start-start-radius: 16px;
      border-start-end-radius: 16px;
    }

    .player-image {
      width: 100%;
      margin-top: -25%;
      z-index: 1;
    }

    .club-badge-image {
      opacity: 0.4;
      position: absolute;
      height: 90px;
    }

    .overlay-text-top-right {
      position: absolute;
      background-color: #c2185b;
      border: solid #17252A 3px;
      padding: 8px;
      bottom: 4px;
      width: calc(100% - 8px);
      text-align: center;
      top: 0;
      border-radius: 12px;
      padding: 8px;
      display: flex;
      height: auto;
      justify-content: center;
      align-content: center;
      align-items: center;
      align-items: flex-start;
      align-self: start;
      justify-content: flex-end;
      width: auto;
      text-align: right;
      right: 0;
      margin: 4px;
      height: fit-content;
      padding-left: 16px;
      padding-right: 16px;
    }

    .overlay-text-bottom {
      position: absolute;
      background-color: #c2185b;
      border: solid #17252A 3px;
      padding: 8px;
      bottom: 4px;
      width: calc(100% - 8px);
      text-align: center;
      z-index: 2;
    }
  }
}

// override base styles:

.mat-divider-vertical {
  width: auto;
}

.terminal-timer {
    margin-right: 0px !important;
}
