.waiting-container {
  display: flex;
  flex-direction: column;

  .waiting-container-header {
    text-align: center;
    margin-bottom: 32px;
  }

  .waiting-manager-container {
    display: flex;
    flex-direction: row;

    .waiting-manager-info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-self: center;
      margin-right: 32px;
    }

    .waiting-manager-badge {
      flex-grow: 0;
      height: 200px;
      width: 200px;
      border: 6px solid #c2185b;
      border-radius: 20%;
      background-color: #17252A;
    }
  }
}
