.bid-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 600px;

  .player-container {
    max-width: 540px;
    align-self: center;
  }

  .bids-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: inherit;
    margin-top: 24px;

    .bid {
      width: calc(50% - 8px);
      display: flex;
      flex-direction: row;
      border: #D41383 solid 6px;
      border-radius: 8px;
      margin: 4px;

      .bid-image {
        width: 180px;
      }

      .bid-amount {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
        background: #D41383;
        flex-grow: 1;
        padding: 8px;

        &.max-bid {
          background-color: mediumseagreen;
        }

        &.ineligible_bid {
          background-color: red;
        }
      }
    }
  }
}
