<div class="nomination-container">
  <h2 class="nomination-container-header">NEW SIGNING:</h2>
  <div class="signing-header">{{signingManager.team_name}} have agreed to sign:</div>
  <div class="nomination-player-container">
    <div class="nomination-player-info">
      <div class="player-info-line"><span style="margin-right: 8px;" class="material-icons icon">account_circle</span> {{currentPick.player.first_name}} {{currentPick.player.web_name}}</div>
      <div class="player-info-line"><img style="margin-right: 8px; height: 24px; width: 24px;" src="{{currentPick.player.club.badge_url}}" /> {{currentPick.player.club.name}}</div>
      <div class="player-info-line"><span style="margin-right: 8px;" class="material-icons icon">grid_on</span> {{currentPick.player.position.singular_name}}</div>
      <div class="player-info-line"><span style="margin-right: 8px;" class="material-icons icon">attach_money</span> £{{currentPick.signed_price}}m</div>
    </div>
    <img class="nomination-player-image" src="{{currentPick.player.photo_url}}" (error)="replacePlayerImageNotFound($event, currentPick.player)" />
    <img class="nomination-badge-image" src="{{signingManager.team_image_url}}" />
  </div>

  <div class="nomination-container-footer">
    <div>Signing complete</div>
    <span style="margin-left: 8px;" class="material-icons icon">done</span>
  </div>
</div>
