<div class="signing-container" *ngIf="signingManager && currentPick">

  <img class="signing-badge-image" src="{{signingManager.team_image_url}}" />
  <h1 style="text-align: center;">SIGN</h1>

  <player [player]="currentPick.player" class="large"></player>

  <div class="signing-price">
    <h1>£{{currentPick.signed_price}}M</h1>
  </div>

  <div class="signing-container-footer">
    <div class="signing-container-footer-content">
      <h2>SIGNING COMPLETE</h2>
      <span style="margin-left: 8px; margin-top: 4px; color: lime;" class="material-icons icon">done</span>
    </div>
  </div>

</div>
