.signing-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .signing-badge-image {
    margin-top: 16px;
  }

  .signing-price {
    background-color: #D41383;
    border-end-start-radius: 8px;
    border-end-end-radius: 8px;
    text-align: center;
    padding: 16px;
  }

  .signing-container-footer {
    flex-grow: 1;
    align-items: end;
    text-align: center;
    margin-top: 32px;
    display: flex;
    align-self: center;
    .signing-container-footer-content {
        display: flex;
    }
  }
}
